.content {
  width: 70%;
  float: right;
  padding: 25px;
}

.content-title__secondary {
  padding: 10px;
  @include text-decoration(700, 12px, 1.14, var(--dark-text-color));
  @media screen and (min-width: 480px) {
    @include text-decoration(700, 14px, 1.14, var(--dark-text-color));
  }

  @media screen and (min-width: 768px) {
    @include text-decoration(700, 15px, 1.14, var(--dark-text-color));
  }

  @media screen and (min-width: 1200px) {
    @include text-decoration(700, 16px, 1.14, var(--dark-text-color));
  }
}

.content-text {
  padding: 3px;
  @include text-decoration(700, 10px, 1.14, var(--dark-text-color));
  @media screen and (min-width: 480px) {
    @include text-decoration(700, 11px, 1.14, var(--dark-text-color));
  }

  @media screen and (min-width: 768px) {
    @include text-decoration(700, 12px, 1.14, var(--dark-text-color));
  }

  @media screen and (min-width: 1200px) {
    @include text-decoration(700, 14px, 1.14, var(--dark-text-color));
  }
}

.content-block {
  border: 2px solid var(--dark-text-color);
  border-radius: 15px;
  margin-bottom: 20px;
  padding: 10px;
}

.primaryContent {
  display: flex;
}

.content-project {
  padding-top: 15px;
}

.project-link{
  @include text-decoration(700, 12px, 1.14, var(--second-color));
  @media screen and (min-width: 480px) {
    @include text-decoration(700, 10px, 1.14, var(--second-color));
  }

  @media screen and (min-width: 768px) {
    @include text-decoration(700, 12px, 1.14, var(--second-color));
  }

  @media screen and (min-width: 1200px) {
    @include text-decoration(700, 14px, 1.14, var(--second-color));
  }
}
